<div class="container">
<div class="row">
    <div class="col">
        <h2>Add a new article</h2>
        <form>
          <div class="form-group">
            <label for="title" >Title:</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="art.title" >
          </div>
          <div class="form-group">
            <label for="category">Category:</label>

            <select [(ngModel)]="selectedItem" name="category">
              <option  *ngFor="let category of articlesService.categoryList" [ngValue]="category.id"  >
                  {{category.description}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-basic" value="add article" (click)="addNewArticle(art)" > 
          </div>
        </form>
    </div>
  </div>

  <div class="row">
    <div class="col">
    <table class="table table-striped">
      <th>id</th>
      <th>title</th>
      <th>category</th>
      <th>operation</th>
      <tr *ngFor = "let articles of articlesService.articleList">
        <td>{{articles.id}}</td>
        <td>{{articles.title}}</td>
        <td>{{articles.category1}}</td>
        <td>

          <button class="btn btn-primary" (click)="showForEdit(articles)" >edit</button>
          <button class="btn btn-danger" (click)="deleteArticle(articles.id)">delete</button>

        </td>
      </tr>
    </table>
  </div>
    <div class="col" *ngIf="showEdit">
        <h2>Edit article</h2>
        <form >
          <div class="form-group">
            <label for="title" >Title:</label>
            <input type="text" class="form-control" id="title" name="title" [(ngModel)]="artEdit.title" >
          </div>
          <div class="form-group">
            <label for="category">Category:</label>
            <select [(ngModel)]="selectedItem" name="category">
                <option  *ngFor="let category of articlesService.categoryList" [ngValue]="category.id"  >
                    {{category.description}}
                </option>
              </select>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-basic" value="Edit article" (click)="editArticle(artEdit.id,artEdit)"> 
          </div>
        </form>
    </div>
  </div>
</div>